extends ../base
include ../mixins/icons
include ../mixins/link
include ../mixins/videoPlayer

block content
  +videoPlayer(video)
  h2 Video Info
  div.watch-video__content
    h3.watch-video__title=video.title
    p.watch-video__description=video.description
    ul.hashtags
      each hashtag in video.hashtags
        li=hashtag
    p.watch-video__createdAt=new Date(video.createdAt).toLocaleString()
    p.watch-video__owner Uploaded By 
      a(href=`/users/${video.owner._id}`)=video.owner.name
  if String(video.owner._id) === String(loggedInUser._id)
    h2 Manage Video
    div.actions
      +link('Edit Video', `${video.id}/edit`)
      br
      br
      +link('Delete Video', `${video.id}/delete`)

  h2 Comments
  if loggedIn
    div.add-comment
      form.add-comment__form#commentForm
        textarea(rows="1" placeholder="Write a comment...")
        button(type="submit") Add Comment
  div#videoComments.comments
    template#videoCommentTemplate
      li.video__comment(data-id='')
        +chatIcon
        span=''
    div.chatIconContainer(hidden)
      +chatIcon
    ul
      each comment in video.comments.reverse()
        li.video__comment(data-id=comment.id)
          +chatIcon
          span=comment.text


block scripts
  script(src="/static/js/videoPlayer.js")
  script(src="/static/js/commentSection.js")