extends ../base
include ../mixins/icons

block content
  div#videoContainer(data-id=video._id)
    .videoWrapper
      video(src=video.fileUrl)
      button#playOnVideo.playBtnOnVideo
        span.playIcon
          +playIcon
        span.pauseIcon
          +pauseIcon
      div#videoControls.videoControls
        button#play
          span.playIcon
            +playIcon
          span.pauseIcon
            +pauseIcon
        button#mute
          span.muteIcon
            +muteIcon
          span.speakerIcon
            +speakerIcon
        input#volume.volume(type="range" step="0.1" min="0" max="1" value="0.5")
        div
          span#currentTime 00:00
          span  / 
          span#totalTime 00:00
        input#timeline.timeline(type="range" step="1" min="0" value="0")
        div
          button#fullScreen
            span.enterFullScreenIcon
              +enterFullScreenIcon
            span.exitFullScreenIcon
              +exitFullScreenIcon
  div
    p=video.description
    small=video.createdAt
  div
    small Uploaded By 
      a(href=`/users/${video.owner._id}`)=video.owner.name
  if String(video.owner._id) === String(loggedInUser._id)
    div
      a(href=`${video.id}/edit`) Edit Video &rarr;
    div
      a(href=`${video.id}/delete`) Delete Video &rarr;

  if loggedIn
    div.video__add-comments
      form.video__comment-form#commentForm
        textarea(cols="30" rows="10" placeholder="Write a comment...")
        button(type="submit") Add Comment
  div.video__comments
    template#videoCommentTemplate
      li.video__comment(data-id='')
        +chatIcon
        span=''
    div.chatIconContainer(hidden)
      +chatIcon
    ul
      each comment in video.comments.reverse()
        li.video__comment(data-id=comment.id)
          +chatIcon
          span=comment.text


block scripts
  script(src="/static/js/videoPlayer.js")
  script(src="/static/js/commentSection.js")