mixin video(video)
  p #{JSON.stringify(video)}
  a(href=`/videos/${video.id}`)
    div.video
      //- video(src=video.fileUrl)
      img(src=video.thumbUrl alt=video.title)
      h4=video.title
      p=video.description
      ul
        each hashtag in video.hashtags
          li=hashtag
      small=video.createdAt