extends base.pug

block content
  video(src="/" + video.fileUrl controls width="100%")
  div
    button#play Play
    button#mute Mute 
    input#volume(type="range" step="0.1" min="0" max="1" value="0.5")
    div
      span#currentTime 00:00
      span  / 
      span#totalTime 00:00
  //-
    div
      p=video.description
      small=video.createdAt
    div
      small Uploaded By 
        a(href=`/users/${video.owner._id}`)=video.owner.name
    if String(video.owner._id) === String(loggedInUser._id)
      div
        a(href=`${video.id}/edit`) Edit Video &rarr;
      div
        a(href=`${video.id}/delete`) Delete Video &rarr;

block scripts
  script(src="/static/js/videoPlayer.js")